.finder {
    border: 2px solid rgb(25, 113, 194);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.finder-content {
    flex: 1;
    display: flex;
    overflow-x: scroll;
}

.finder-folders {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.finder-detail {
    flex: 1;
}